@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

h1, h2, h3{
    margin: 0;
}

body {
    margin: 0;
}

.container{
    width: 1300px;
    margin: 0 auto;
    text-align: center;
}

/******PAGE 1******/

.banner{
    background: linear-gradient(to right, rgb(83,68,186), #ffffff);
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner div{
    flex-basis: 50%;
}

.infos{
    display: flex;
    align-items: center;
}


.infos h1{
    font-size: 100px;
}

.infos p{
    font-size: 30px;
    margin-bottom: 2em;
}

.infos a{
    text-decoration: none;
    background-color: white;
    color: rgb(83,68,186);
    padding-inline: 2em;
    padding-block: 0.8em;
    border-radius: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.infos a:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}

/******PAGE 2******/

.problemes{
    min-height: 100vh;
    background: linear-gradient(to right, rgb(83,68,186), #ffffff);
    display: flex;
    align-items: center;
}

.lesProblemes a {
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-block: 0.2em;
    font-size: 30px;
    transition: 0.3s;
}

.lesProblemes a:hover{
    text-decoration: underline;
    transition: 0.3s;
}

.problemes h1{
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1em;
    font-size: 45px;
    margin-top: 1em;
}

.menu{
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(83,68,186);
    background-color: white;
    border-radius: 30px;
    transition: 0.3s;
    text-decoration: none;
    padding-block: 0.5em;
    padding-inline: 2em;
    font-size: 20px;
}

.menu:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}

/******PAGE 3******/

label {
    background-color: #ffffff;
    padding: 10px;
    padding-bottom: 30px;
    font-family: 'Josefin Sans', sans-serif;
    border: solid 3px rgb(83,68,186);
    border-radius: 15px;
    color: rgb(83,68,186);
}

#solverSelector {
    font-family: 'Josefin Sans', sans-serif;
    padding: 2px;
    border: solid 3px rgb(83,68,186);
    border-radius: 15px;
    margin-top: 3px;
    color: rgb(83,68,186);
}

.container h2 {
    border: solid 3px rgb(83,68,186);
    margin-bottom: 30px;
}

#myChart,
.chart-container {
    margin-top: 2em;
    background-color: white;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.charts{
    min-height: 100vh;
    background: linear-gradient(to right, rgb(83,68,186), #ffffff);
}

.bx{
    color: white;
    font-size: 30px;
}

.charts h2{
    margin-top: 2em;
    color: rgb(83,68,186);
    background-color: white;
    border-radius: 20px;
    text-align: center;
    width: 460px;
    margin-inline: auto;
    padding-block: 0.5em;
    font-family: 'Josefin Sans', sans-serif;
}

#solverContainer {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-bottom: 50px;
}

.chart-container > canvas {
    width: 200px;
}

.chart-container > h2 {
    margin: 10px auto;
    border: solid 3px rgb(83,68,186);
}

.status-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 550px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 25px;
    text-align: start;
}

.status-list h3 {
    color: rgb(83,68,186);
    padding: 5px;
    font-size: 1.3rem;
    text-decoration: underline;
}

.status-list li {
    list-style: none;
    text-transform: capitalize;
}

.statusCanvas {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 300px;
    padding: 50px;
}

.leCanvas > canvas {
    width: 100%;
}

canvas {
    margin-bottom: 20px;
}

.fleche i {
    padding: 5px;
    background-color: #ffffff;
    color: rgb(83,68,186);
    border: solid 3px rgb(83,68,186);
    border-radius: 100%;
    transition: 0.3s;
}

.fleche:hover i {
    background-color: black;
    color: #ffffff;
    border: solid 3px black;
}

#CL {
    width: 99vw;
    height: 99.4vh;
}

#cltxt {
    font-size: 5rem;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    right: 300px;
    top: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

